@font-face {
    font-family: 'SF Pro';
    src: url(fonts/SF_Pro.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'SF Pro', sans-serif;
    box-sizing: border-box;
}

body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background: #d8eeed;
}

a{
    text-decoration: none;
    color: #5A5A5A;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.logo img{
    width: 30px;
    margin-right: 15px;
    display: block;
}
.navbar_center{
    position: relative;
    right: 140px;
}

.navbar_center ul li{
    display: inline-block;
    list-style: none;
    padding-left: 5px;
}

.navbar_center ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}

.navbar_center ul li a img{
    width: 30px;

}

.navbar_center ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #14938f;
    position: absolute;
    bottom: -15px;
    transition: width 0.3s;
}

.navbar_center ul li a:hover::after{
    width: 100%;
}

.nav_profile_pic{
    width: 40px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}

.search_bar{
    background: #f0f2f5;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-style: solid;
    border-color: green;
}

.navbar_left{
    display: flex;
    align-items: center;
}

.search_bar img{
    width: 14px;
    cursor: pointer;
}

.search_bar input{
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: 0;
}

/*-- Navigation bar (up) --*/

.drop_down_menu{
    position: absolute;
    top: 100%;
    right: 5%;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.drop_down_menu.open_menu{
    max-height: 400px;
}

.menu{
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1)
}

.menu_function{
    display: flex;
    align-items: center;
    color: black;
    margin: 20px 0;
    font-size: 14px;
}

.menu_function p{
    width: 100%;
}

.menu_function img{
    width: 15px;
    border-radius: 50%;
    margin-right: 15px;
}

/*-- Drop down menu (up) --*/

.container{
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user_profile{
    flex-basis: 15%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.profile_info{
    padding: 0 25px;
    text-align: center;

}

.profile_info img{
    width: 150px;
    border-radius: 50%;
    padding: 4px;
    margin-top: -45;
    border-style: solid;
    border-width: 5px;
    border-color: #e6f7dc;
}

.profile_info h1{
    font-size: 40px;
}

/*-- User profile (left) --*/

.main-content{
    flex-basis: 75%;
}
.create-post{
    background: rgba(255, 255, 255, 0.3);
}

.user-post{

    padding: 20px 25px 5px;
    margin: 5px 0 15px;
}

.post-author {
    display: flex;
    align-items: flex-start;

    width: 100%;
    justify-content: space-between;
}

.post-author img {
width: 65px;
border-radius: 50%;
margin-right: 10px;
margin-top: 5px;
}

.post-author h1 {
font-size: 25px;
font-weight: 600;
position: relative;
}

.post-author small {
display: block;
margin-bottom: -2px;
}

.post-author-details {
display: flex;
flex-direction: column;
flex-grow: 1;
}

.post-author-details h1, .post-author-details small {
margin: 0;
}

.post-author span img {
position: relative;
bottom: 20px;
}
.post-author a{
    position: relative;
    font-size: 15px;
    font-weight: 400;
    bottom: 20px;
    right: 20px;
}
.user-post p{
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: -15px;
    padding-bottom: 5px;
}
.post-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 10px;
}
.post-stats div{
    display: flex;
    align-items: center;
}
.post-stats img{
    width: 15px;
}
.liked-users{
    margin-left: 10px; 
}

.post_like{
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;

}

.post_like div{
    display: flex;
    align-items: center;
}


#favouriteImage{
    position: relative;
    top: 2px;

}
.comment_bar{
    background: transparent;
    width: 915px;
    border-radius: 20px;
    display: center;
    align-items: center;
    padding: 0 10px;

}

.comment_bar input{
    width: 100%;
    background: transparent;
    padding: 5px;
    outline: none;
    border-color: #80BE51;
    
}

.comment_box{
    width: 100%;
    padding: 10px;
    margin-bottom: 4px;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: #80BE51;
}
.reverse{
    display: flex;
    flex-direction: column-reverse;
}
.comments_row{
    cursor: pointer;
    margin-top: 20px;
}
.comments_row .comment_box{
    display: none;
}
.comments_row.open .comment_box{
    display: block;
    width: auto;
}
.show_comment{

    font-size: 12px;
    position: relative;
    bottom: 25px;
    margin-left: 91%;
    margin-bottom: -20px;
}

.action_choice{
    cursor: pointer;
    margin-top: 20px;
}
.action_choice img{
    width: 25px;
}
.action_choice .choice{
    display: none;
}
.action_choice.open .choice{
    display: block;
    width: auto;
    position: absolute;
    text-align: right;

}
/*-- User post (right) --*/

/* -- Media query -- */
@media only screen and (max-width: 1012px){
    .search_bar{
        width: auto;
        padding: 0;
        background: #d6d5d5;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 0 15px; 
    }
    .search_bar input{
        width: 100px;
        padding: 0;
    }
    .navbar_center ul li a span{
        display: none;
    }
    .navbar_center ul li a{
        padding-right:0;
        margin: 5px;
    }
    .nav_profile_img{
        width: 30px;
    }
    .container{
        padding: 15px 3%;
    }
    .user_profile, .user_timeline{
        flex-basis: 100%;
        position: relative;
        top: unset;
    }
    .user_timeline{
        margin-top: 50px;
    }
}